
    <h1>Mi app usa HBS y la tuya no!!!</h1>
    <h2>Name:{{name}}</h2>
    <h3>Age:{{age}}</h3>
    <p>Hobby: {{hobby}}</p>

    {{#if hungry}}
        <p>Vamos al pescadito</p>
    {{else}}
        <p>Vamos por helado</p>
    {{/if}}
